<p>password works!</p>
<div>
    password generetor
 <input (input)="inputValueChange($event)"/>

<div>
    <label>use symbols</label>
    <input (change)="onchangesymbole()"  type="checkbox"/>
</div>
<div>
    <label>use letters</label>
    <input (change)="onchangeLetter()" type="checkbox"/>
</div>
<div>
    <label>use numbers</label>
    <input (change)="onchangeNumbers()" type="checkbox"/>
</div>
<div></div>
<div>
    <button [disabled]="!( length && (letterIncludes || symbolIncludes || NumberIncludes))"
     (click)="generator()"
     >generator</button>
</div>
<div *ngIf="password">
    <label>your passoword</label>
   <input [value]="password"/> 
</div>
<app-pipeformate></app-pipeformate>




