.form{
    width: 300pxl;
    margin: auto;
    padding: 20px;
    border: 1px,solid,chartreuse;
  border-radius: 5px;
  align-items: center;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    
}
.content-center{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    
}
.input{

}